# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Projecto EDA 1/Projecto EDA 1/x64/Debug/Projecto EDA 1.log
Projecto EDA 1/Projecto EDA 1/x64/Debug/Projecto EDA 1.ilk
Projecto EDA 1/Projecto EDA 1/x64/Debug/Projecto EDA 1.log
Projecto EDA 1/Projecto EDA 1/x64/Debug/Projecto EDA 1.tlog/CL.command.1.tlog
Projecto EDA 1/Projecto EDA 1/x64/Debug/Projecto EDA 1.tlog/CL.read.1.tlog
Projecto EDA 1/Projecto EDA 1/x64/Debug/vc143.idb
Projecto EDA 1/Projecto EDA 1/x64/Debug/vc143.pdb
Projecto EDA 1/x64/Debug/Projecto EDA 1.pdb
Projecto EDA 1/.vs/Projecto EDA 1/v17/Browse.VC.db
Projecto EDA 1/.vs/Projecto EDA 1/v17/.suo
